<div id="nav">
    <a href="/car-configurations">Configurations</a>
    <a href="/cars">Voitures</a>
    <a href="/car-categories">Catégories</a>
    <form action=""></form>
    <!-- This source helped: https://stackoverflow.com/questions/8169027/how-can-i-submit-a-post-form-using-the-a-href-tag -->
    <form action="/logout" method="post" id="logout-form">
        <a style="margin-left: 1%; cursor: pointer;" onclick="document.getElementById('logout-form').submit();" href="javascript:;">Se déconnecter</a>
    </form>
</div>